<div class="jumbotron">
	<h1>Why Pinteresting?</h1>
	<h2>Why?</h2>
	<p>We want to disrupt the status quo.</p>

	<h2>How?</h2>
	<p>We provide an alternative to the agency model.</p>

	<h2>What?</h2>
	<p>An agency consisting only of freelacners.</p>

</div>